<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Moja pierwsza strona</title>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <h1>Witam serdecznie na mojej stronie Przyjacielu</h1>
        <img src="{{url_for('static',filename='IMG_0074-45_500x625 px_PL Elektron. legit. stud. Uniwersytet Warszawski.jpg')}}" width="400px" height="525px" alt="Laptop screen with code" title="Code"/>
        <div id="content">{% block content %}{% endblock %} </div>
    
    </body>
</html>